---
layout: default
---

<table>
	<thead>
		<tr>
			<th colspan="2">
				<span class="tag-icon"><i class="fas fa-fw fa-tag"></i></span> <a href="{{ site.baseurl }}/tag/{{tag | slugify}}/">{{ page.tag }}</a>
			</th>
		</tr>
	</thead>
	<tbody>

		{% for post in page.posts %}
		<tr>
			<td><a href="{{ post.url }}">{{ post.title }}</a></td>
			<td class="r no-wrap"><small>{{ post.date | date_to_string }}</small></td>
		</tr>
		{% endfor %}

	</tbody>
</table>


<div id="tag-cloud">
	<h2>Tag cloud</h2>
	{{ site | tag_cloud }}
</div>
